.chatroom-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
}

.video-container {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
}

.videos {
  width: 80%;
  height: 60%;
  text-align: center;
  border-radius: 8px;
}

#local-video {
  height: 15%;
  width: 12%;
  position: absolute;
  border-radius: 8px;
  top: 12%;
  left: 11%;
}

#peerVideo {
  height: 100%;
  /* width: 100%; */
  border-radius: 10px;
  margin: 0 auto;
  background: gray;
}

.progressbar-container {
  position: relative;
  top: -30%;
  width: 50%;
  margin: 0 auto;
}

.messages-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: start;
  padding: 5% 15px;
}

#messages {
  width: 100%;
  height: 85vh;
  overflow: auto;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 0;
}

.message {
  text-align: left;
  color: blue;
  margin: 0 15px;
  display: block;
}

.chat-container {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#messagebox-container {
  width: 95%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

#messagebox {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.button-enabled {
  display: inline-block;
  background-color: rgb(13, 211, 168);
  color: white;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button-disabled {
  display: inline-block;
  background-color: gray;
  color: white;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.divider {
  border-left: 0.5px solid gray;
}
